body {
	font-family: Verdana, Arial, sans-serif;
	line-height: 1.625;
	background-color: black;
	font-size: 16px;
	font-size: 2.4rem;
	-webkit-font-smoothing: antialiased;
}
#wrapper {
	text-align: center;
	color: #fe9901;
	margin: 16px auto;
	margin: 2.4rem auto;
	width: 90%;
	max-width: 1280px;
}
.logo {
	float: none;
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 15em;
	width: 15em;
}
a,
.hotspot {
	text-decoration: underline;
	font-weight: bold;
	color: #65ffff;
	font-size: 2.5rem;
}

h1 {
	margin: 0;
	padding: 0 0 2.4rem 0;
	color: #9fef42;
	font-size: 4rem;
	font-weight: normal;
	line-height: 1.3;
	text-align: center;
}

#part_gc_intro {
	font-size: 14px;
	font-size: 3rem;
	text-align: center;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

input[type="radio"] + label {
	position: relative;
	color: white;
	display: inline-block;
	font-size: 16px;
	font-size: 2.4rem;
	white-space: nowrap;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100%;
}